window {
margin: 0px;
border: 1px solid #47436f;
background-color: #304c86;
}

#input {
margin: 5px;
border: none;
color: #FFFFFF;
background-color: #4871a8;
}

#inner-box {
margin: 5px;
border: none;
background-color: #4871a8;
}

#outer-box {
margin: 5px;
border: none;
background-color: #588abc;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f1b7a5;
}


